$wFull: 100%;

.header {
  display: flex;
  align-items: center;

  .logo {
    padding: 15px;
    width: 100px;
  }
  .form {
    display: flex;
    justify-content: center;
    width: $wFull;
    position: relative;
  }
  .input {
    width: $wFull;
    padding: 8px;
    max-width: 400px;
    color: #333;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  .result {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: #333333;
    font-size: 13px;
  }
}
